<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylin.css">
</head>


<div id="head">
    <ul id="topbuttons">
        <li class="topbutton">
            <form action="/del" method="post">
                <button class="navButtons" type="submit">Log out</button>
            </form>
        </li>
        <li class="topbutton">
            <form action="/signup" method="get">
                <button class="navButtons" type="submit">Sign up</button>
            </form>
        </li>
        <li class="topbutton">
            <form action="/login" method="get">
                <button class="navButtons" type="submit">Log in</button>
            </form>
        </li>
        <li class="topbutton">
            <form action="/createPost" method="get">
                <button class="navButtons" type="submit">Create a post</button>
            </form>
        </li>
    </ul>
    <div id="titleLogo">
        <img class="logo" src="http://network.napco.com/book-business/wp-content/uploads/sites/4/2016/01/Reddit-Logo-Smaller.png" />
        <div id="titleText">
            <h1>Max & Jess's Reddit: <i>It's better than Reddit</i></h1>
        </div>
    </div>
</div>
<div id="body">
    
<div id="allcomments">
    <ol class="contents-list">
        <h3 class="content-item__title">
            COMMENTS </h3>
        <% comments.forEach(function(comment) { %>
            <li class="content-item">
                <h3 class="content-item__title">
            COMMENTSSS </h3>
                    <p><%=comment.text %></p>
                    <p>Created by
                        <%= comment.id %> on
                            <%= dateFormat(comment.createAt, "yyyy-mm-dd h:MM:ss TT") %>
                    </p>
            </li>
            <% }); %>
    </ol>
</div>
</div>
</html>