<head>
    <title> Create comment page </title>
    <link rel="stylesheet" type="text/css" href="/stylin.css">
</head>

<body>
    <% include partials/header %>
    
    <main>
      <h1>We want YOUR <i>OPINION</i></h1>
        <h3>Write your comment below and don't be rude</h3>
        <form action="/createComment" method="POST">
            <div>
                <textarea name="commentText" id="comments" cols="25" rows="3"></textarea>
                <input type="hidden" name="postId" value="<%= postId %>">
                
            </div>
            <button type="submit">Submit your comment!</button>
        </form>
    </main>
    <footer>&copy; 2016 myself!</footer>
</body>
</html>
