<head>
    <title> Log In </title>
    <link rel="stylesheet" type="text/css" href="/stylin.css">
</head>

<body >
    <% include partials/header %>
    
    <main class="container">
        <div class = "box box1">
        <h1>Log-in to Max & Jess's Reddit</h1>
        </div>
        <div class = "box box2">
        <h3><% if(message) { %><font color="red">Your username or password was incorrect. Please try again!</font></h3>
        <% } else { %>Enter your username and password below!</h3> <% } %>
        </div>
        <div class = "box box3">
        <form action="/login" method="POST">
            <div>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            
            <button type="submit" class="btn btn-warning btn-lg">Log-in</button>
        </form>
        </div>
        <div class = "box box5">
        <div class = "nickipic">
        <img src = "http://66.media.tumblr.com/tumblr_mbpbjrqFf71rdqc8ro1_500.gif" id = "nicki"/>
        </div>
        </div>
    </main>
    <footer>&copy; 2016 Jess & Max!</footer>
</body>

</html>
