<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylin.css">
    </head>

    <div id="homepage">
      <h1>Join Max & Jess's Reddit <i>today!</i></h1>
        <h3>Just pick a username and password to sign up!</h3>
        <form action="/signup" method="POST">
            <div>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            
            <button type="submit">Sign up!</button>
        </form>
        <h3> Already a member? Log in :)</h3>
        <div class="topnav">
        <form action="/login" method="get">
            <button type="submit">Log in</button>
        </form>
    </div>
    </div>
</html>
