html {
    background-color: #FCFFFD;
}
body{
    overflow-x: hidden;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: 	#362E30;
    font-size: 3em;
}
h2{
    font-size: 0.9em;
    font-family: "Verdana";
    /*font-family: Arial, Helvetica, sans-serif;*/
    color: #000;
}

/*h3 {*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    color: #696969;*/
/*}*/
#logo {
    max-width: 100px;
    max-height: 100;
}
#form{
    width: 100%;
}

#signuphead{
    width: 100%;
    /*position: ;*/
    background-color: #e9fcf4;
    top: 0px;
}
#bodysignup {
    position: relative;
    padding-top: 80px;
    margin-left: 50px;
}
main {
    /*position: static;*/
    /*padding-top: 200px;*/
}
body #homepage{
    display: flex;
    flex-direction: column;
}
#allPosts{
    flex-direction: column;
    justify-content: flex-start;
}
#eachPost{
    display: flex;
    background-color: #FFF;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-top-style: dotted;
    /*border-right-style: solid;*/
    /*border-left-style: solid;*/
    border-width: 1px;
    border-color: #4B4B81;
    width: 100%;
    /*max-width: 700px*/
    padding: 10px;
}
#eachPost section{
    margin-left: 10px;
    font-size: 12px;
    margin: 15px;
}

.vote{
    /*display: flex;*/
    flex-direction: column;
    margin-right: 15px;
    align-content: flex-start;
    padding: 10px;
    /*background-color: #E0FFFF;*/
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}

.active{
    background-color: #FFF !important;
    color: #438585 !important;
}

.activeVote{
    background-color: #c5cefd !important;
    color: #431115 !important;
}

.sortingButtons{
    color: #FFF;
    background-color: #D90000;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}
.sortingButtons:hover{
    background-color: #FFF;
    color: #000;
}
#sortingButtons li{
    display: inline-block;
}

.votebutton{
    /*clear: both;*/

}
/*.commentButtons{*/
/*    background-color: #220907;*/
    /*font-weight: bold;*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    color: #FFF;*/
/*    float: left*/
/*}*/
/*.commentButtons:hover{*/
/*    background-color: #FFF;*/
    /*font-weight: bold;*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    color: #4B4B81;*/
/*}*/
.btn-group-xs>.btn, .btn-xs{
    float:left;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

/*header*/
header{
    padding: 30px;
    position: relative;
    /*background-color: #e9fcf4;*/
    justify-content: center;
    flex-direction: row-reverse
}

/*centering header*/ 
header .logo {
    position: absolute;
    top: 50%;
    right: auto;
    left: 50%;
    bottom: auto;
    transform: translateY(-50%) translateX(-50%);
}

#topbuttons {
    float: right;
}
#topbuttons ul {
    display: flex;
    list-style-type: none;
}
#topbuttons li{

}

.navButtons{
    background-color: #FFF;
    /*font-weight: bold;*/
    font-family: Arial, Helvetica, sans-serif;
}

/*Form buttons*/
input[type=text] {
    color: #FFF;
    background-color: #438585;
    font-family: Arial, Helvetica, sans-serif;
}


.navButtons:hover{
    background-color: #D90000;
    color: #FFF;
}

p em{
    color: #140206;
    font-size: 1.5em;
    font-weight: bold;
}
a:link {
    color: 	#313131;
}
a:visited {
    color: 	#313131;
}
a:hover {
    color: #3c948b;
}
a:active{
    color: #3c948b;
}
.title:link {
    font-weight: bold;
    color:#286192;
}
.title:visited {
    font-weight: bold;
    color:#286192;
}
.title {
    font-size: 1.6em;
    font-weight: bold;
    color:#286192;
}

ol {
    /*padding: 20px;*/
    width: 100%;
    margin-left: 0px;
}


ol li {
    color: #313131;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS for LOG IN and SIGN UP */
.container{
    display:flex;
    flex-wrap:wrap;
    align-content:center;
    align-items:center;
    min-height:100vh;
}
.box {
    flex-basis:1000px;
    flex-grow:1;
}
.box1{
    background-color: #6aefb7;
    text-align: center;
}
.box2{
    padding: 20px;
    background-color: #6bfbd8;
    font-size: x-large;
    text-align: center;
}
.box3{
    padding: 10px;
    background-color: #6bfbd8;
    flex-grow:3;
    text-align: center;
}
.box4{
    background-color: #6bfbd8;
    flex-grow:4;
    text-align: center;
}
.box5{
    background-color: #4dfffe;
    flex-grow:6;
    text-align: center;
}

form {
    text-align:center;
}
input[type=text] {
    font-size: x-large;
}
input[type=password] {
    font-size: large;
}
.buttonlogin{
    width: 20em;  height: 3em;
    color: #FFF;
    background-color: #D90000;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}
#nicki {
    min-width: 350px;
    min-height: auto;
    margin: auto;
    display: block;
}
.votingButtonStyle{
    margin: 15px;
}
#queenb {
    min-width: 350px;
    min-height: auto;
    margin: auto;
    display: block;
}
#tyra {
    min-width: 200px;
    min-height: auto;
    margin: auto;
    display: block;
}

/* END OF CSS for LOG IN */

#suggesttitle{
    align-self: flex-end;
}

.suggesttitle{
    display:flex;
    flex-direction:column;
}


footer{
    align-self: flex-end;
}

.test {
    width: 50%;
    text-align: center;
    margin: auto;
    display: block;
}
#test {
    width: 50%;
    text-align: center;
    margin: auto;
    display: block;
}